{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["./lib/babel-plugin-react-styler", {
      "scssPath": "./dist/assets/scss/main.scss"
    }]
  ]
}