{
  "presets": [
    "env",
    "react",
    "flow"
  ],
  "plugins": [
    "transform-object-rest-spread",
    ["./lib/babel-plugin-react-styler", {
      "scssPath": "./dist/assets/scss/main.scss"
    }]
  ]
}